.idea

docs/
docs/swagger.json
docs/swagger.yaml
docs/docs.go
docs/*.go
docs/*.json
docs/*.yml

manifest.yaml

config.yaml
logs/*.log

.DS_Store
**/.DS_Store

*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.lock
*.zip
*.tar
*.iso
*.exe
*.dmg
*.deb
*.rpm
*.apk
*.gem

